@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #031825;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    object-fit: cover;
    object-position: top;
}


.weather-container {
    background-color: white;
    padding: 1rem;
    width: 480px;
    height: 76px;
    border-radius: 0.8rem;
    overflow: hidden;
    transition: all 0.7s linear;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.249),
    0px -10px 15px rgba(0, 0, 0, 0.271);
}

.weather-container .search-section {
    display: flex;
    align-items: start;
}

.weather-container .search-section i {
    font-size: 1.8rem;
    color: #031825;
    padding: 0.7rem;
}

.weather-container .search-section input {
    flex: 1;
    text-transform: uppercase;
    outline: none;
    background: transparent;
    border: none;
    padding: 0.7rem;
    font-size: 1.4rem;
    color: #031825;
    font-weight: 500;
}

.weather-container .search-section button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-container .search-section button i {
    padding: 0.7rem;
    border-radius: 50%;
    transition: all 0.4s;
}

.weather-container .search-section button:hover i {
    background: #031825;
    color: white;
}

.main-content {
    height: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-content .err,
.main-content .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-content .error {
    color: red;
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 1rem;
    text-align: center;
}


.main-content .img {
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-content img {
    width: 300px;
    height: 300px;
}


.main-content .enter {
    scale: 0;
    opacity: 0;
    animation: slowMotion 0.7s linear forwards 0.8s;
}

.main-content .invalid{
    width: 400px;
    margin-top: 1.5rem;
}

.main-content .temperature .temp {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    color: #031825;
    margin-top: 1rem;
}

.main-content .comment {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.8rem;
    color: #031825;
    margin-bottom: 1rem;
}

.main-content > .content{
    justify-content: space-between;
    height: 85%;
    gap: 50px;
}

.main-content .climate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.main-content .climate i {
    font-size: 2rem;
}

.main-content .climate .common {
    display: flex;
    gap: 15px;
    align-items: center;
    color: #031825;
}

.main-content .climate .common span {
    font-weight: 800;
    font-size: 1.2rem;
}

@keyframes slowMotion {
    to {
        scale: 1;
        opacity: 1;
    }
}

@media screen and (max-width : 460px) {
    .weather-container {
        width: 70%;
        padding: 0;
        height: 40px;
    }

    .weather-container .search-section i,
    .weather-container .search-section input {
        font-size: 1rem;
    }


    .main-content img{
        width: 240px;
        height: 240px;
    }

    .main-content .climate{
        flex-direction: column;
        gap: 30px;
    }

    .main-content .common i{
        font-size: 1.5rem;
    }

    .main-content .common .text{
        font-size: 1.4rem;
    }
}