@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #004a77;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    object-fit: cover;
    object-position: top;
}


.weather-container {
    background-color: white;
    padding: 1rem;
    width: 480px;
    height: 76px;
    border-radius: 0.8rem;
    overflow: hidden;
    transition: all 0.7s linear;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.249),
    0px -10px 15px rgba(0, 0, 0, 0.271);
}

.no-value-height{
    height: 220px;
}

.err-height{
    height: 500px;
}

.res-container{
    height: 550px;
}

.weather-container .search-section {
    display: flex;
    align-items: start;
}

.weather-container .search-section i {
    font-size: 1.8rem;
    color: #031825;
    padding: 0.7rem;
}

.weather-container .search-section input {
    flex: 1;
    text-transform: uppercase;
    outline: none;
    background: transparent;
    border: none;
    padding: 0.7rem;
    font-size: 1.4rem;
    color: #031825;
    font-weight: 500;
}

.weather-container .search-section button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-container .search-section button i {
    padding: 0.7rem;
    border-radius: 50%;
    transition: all 0.4s;
}

.weather-container .search-section button:hover i {
    background: #031825;
    color: white;
}

.main-content {
    height: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-content .err,
.main-content .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-content .error {
    color: red;
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 2.5rem;
    text-align: center;
}


.main-content .img {
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-content img {
    width: 250px;
    height: 250px;
}

.main-content .invalid{
    width: 300px;
    height: 300px;
}

.main-content .enter {
    scale: 0;
    opacity: 0;
    animation: slowMotion 0.7s linear forwards 0.8s;
}

.main-content .invalid{
    width: 400px;
    margin-top: 1.5rem;
}

.main-content .temperature .temp {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    color: #031825;
    margin-top: 1rem;
}

.main-content .comment {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.8rem;
    color: #031825;
}

.main-content > .content{
    height: 100%;
    gap: 50px;
    margin-top: -1rem;
}

.main-content .climate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.main-content .climate i {
    font-size: 2rem;
}

.main-content .climate .common {
    display: flex;
    gap: 15px;
    align-items: center;
    color: #031825;
}

.main-content .climate .common span {
    font-weight: 800;
    font-size: 1.2rem;
}

@keyframes slowMotion {
    to {
        scale: 1;
        opacity: 1;
    }
}

@media screen and (max-width : 600px) {
    .weather-container {
        width: 370px;

    }

    .main-content .comment{
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }
    .weather-container .search-section i,
    .weather-container .search-section input {
        font-size: 1.5rem;
        padding: 0.5rem 2rem 0 0.5rem;
    }

    .weather-container .search-section input{
        width: 60%;
    }

    .err-height{
        height: 450px;
    }

    .weather-container .search-section .search-btn i{
        font-size: 1.8rem;
        margin: 0rem 0.5rem 0 0;
    }

    .weather-container .search-section > i{
        padding: 0.6rem 0.5rem 0 0.8rem;
    }

    .main-content .invalid{
        width: 350px;
        height: 230px;
        object-fit: contain;
    }


    .main-content img{
        width: 170px;
        height: 170px;
    }

    .main-content .climate{
        gap: 30px;
    }

    .main-content .common i{
        font-size: 1.6rem;
    }


    .res-container{
        height: 480px;
    }

    .main-content .common .text{
        font-size: 1.3rem;
    }
}

@media screen and (max-width : 360px) {
    .weather-container{
        width: 260px;
    }

    .main-content img{
        width: 150px;
        height: 150px;
    }

    .main-content .invalid{
        width: 240px;
        height: 195px;
    }

    .main-content .temperature .temp {
        font-size: 2.5rem;
    }


    .weather-container .climate{
        flex-direction: column;
        gap: 20px;
    }

    .weather-container .climate .common span{
        font-size: 1rem;
    }      
    
    .main-content > .content{
        gap: 20px;
    }

    .err-height{
        height: 400px;
    }

    
}